#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(to right, #5973a8, #134ec4); 
  display: flex;
}

.App {
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
}
