html, body, #root {
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  background: linear-gradient(to right, #5973a8, #134ec4); 
  display: flex;
}

.App {
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
}

#doge-container {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}