html, body, #root {
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  background: linear-gradient(to right, #495e88, #134ec4); 
  display: block;
}

/* .content {
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
} */

.nav a {
  color: #f3f3f3;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

.nav {
  background: #31446b;
  padding: 10px;
  color: #f3f3f3;
  display: block; 
}
